<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_om_user_audit_root" name="User Audit" sequence="95"
              web_icon="om_user_audit,static/description/icon.png" groups="base.group_system"/>
    <menuitem id="menu_om_user_audit_logs" name="Logs" parent="menu_om_user_audit_root"
              action="om_user_audit_log_action" sequence="10"/>
    <menuitem id="menu_om_user_audit_sessions" name="Sessions" parent="menu_om_user_audit_root"
              action="om_user_audit_session_action" sequence="20"/>
    <menuitem id="menu_om_user_audit_reporting" name="Reporting" parent="menu_om_user_audit_root"
              sequence="30"/>
    <menuitem id="menu_om_user_audit_report" name="User Activity" parent="menu_om_user_audit_reporting"
              action="om_user_audit_report_wizard_action" sequence="10"/>
    <menuitem id="menu_om_user_audit_config" name="Configuration" parent="menu_om_user_audit_root"
              sequence="90"/>
    <menuitem id="menu_om_user_audit_settings" name="Settings" parent="menu_om_user_audit_config"
              action="om_user_audit_settings_action" sequence="10"/>
    <menuitem id="menu_om_user_audit_rules" name="What to Log" parent="menu_om_user_audit_config"
              action="om_user_audit_rule_action" sequence="20"/>

</odoo>
