<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="account.menu_finance" name="Accounting"/>

    <menuitem id="menu_account_templates"
              sequence="100"
              name="Templates"
              parent="account.menu_finance_configuration"
              groups="base.group_no_one"/>

    <record id="account.menu_action_account_moves_all" model="ir.ui.menu">
        <field name="groups_id" eval="[(5,0,0)]" />
    </record>

</odoo>
