<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="account.menu_finance" name="Accounting"/>

    <menuitem id="menu_account_templates"
              sequence="100"
              name="Templates"
              parent="account.menu_finance_configuration"
              groups="base.group_no_one"/>

</odoo>
