<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Odoo 18 has no Closing folder in the Accounting menu of the account module: the same folder, here -->
    <menuitem id="menu_account_closing"
              name="Closing"
              sequence="20"
              parent="account.menu_finance_entries"
              groups="account.group_account_readonly"/>

</odoo>
