<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="res_config_settings_view_form_inherit_accountant" model="ir.ui.view">
        <field name="name">res.config.settings.view.form.inherit.accountant</field>
        <field name="model">res.config.settings</field>
        <field name="inherit_id" ref="account.res_config_settings_view_form"/>
        <field name="arch" type="xml">

            <xpath expr="//setting[@id='fiscalyear']" position="replace">
                <setting id="om_fiscalyear_setting" string="Fiscal Year">
                    <div class="content-group">
                        <div class="row mt16">
                            <label for="fiscalyear_last_month"
                                   string="Last Day"
                                   class="col-lg-3 o_light_label"/>

                            <field name="fiscalyear_last_month"
                                   style="width: 100px; margin-right: 8px;"/>

                            <field name="fiscalyear_last_day"
                                   class="oe_inline"/>
                        </div>
                    </div>

                    <div class="mt16">
                        <field name="group_fiscal_year"/>

                        <label for="group_fiscal_year"/>

                        <div class="text-muted">
                            Define fiscal years of more or less than one year
                        </div>

                        <div class="mt16">
                            <button name="%(om_fiscal_year.actions_account_fiscal_year)d"
                                    type="action"
                                    string="Fiscal Years"
                                    icon="fa-arrow-right"
                                    class="btn btn-link"
                                    invisible="not group_fiscal_year"/>
                        </div>
                    </div>
                </setting>

                <setting id="om_fiscal_period_closing"
                         string="Fiscal Period Closing">

                    <div class="text-muted">
                        Lock your fiscal period
                    </div>

                    <div class="content-group">
                        <div class="row mt16">

                            <label for="fiscalyear_lock_date"
                                   class="col-md-5 o_light_label"/>
                            <field name="fiscalyear_lock_date"/>

                            <label for="sale_lock_date"
                                   string="Sales Lock Date"
                                   class="col-md-5 o_light_label"/>
                            <field name="sale_lock_date"/>

                            <label for="purchase_lock_date"
                                   string="Purchase Lock Date"
                                   class="col-md-5 o_light_label"/>
                            <field name="purchase_lock_date"/>

                            <label for="hard_lock_date"
                                   class="col-md-5 o_light_label"/>
                            <field name="hard_lock_date"/>

                            <label for="tax_lock_date"
                                   string="Tax Return Lock Date"
                                   class="col-md-5 o_light_label"/>
                            <field name="tax_lock_date"/>

                        </div>
                    </div>

                </setting>

            </xpath>

        </field>
    </record>

</odoo>