<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="om_access_root_menu"
              name="Access Manager"
              web_icon="om_access_manager,static/description/icon.png"
              groups="group_access_manager"
              sequence="92"/>

    <menuitem id="om_access_profile_menu"
              name="Access Profiles"
              parent="om_access_root_menu"
              action="om_access_profile_action"
              sequence="10"/>

</odoo>
