<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="om_access_profile_menu"
              name="Access Profiles"
              parent="base.menu_users"
              action="om_access_profile_action"
              groups="base.group_system"
              sequence="25"/>

    <menuitem id="om_access_template_menu"
              name="New Profile from Template"
              parent="base.menu_users"
              action="om_access_template_wizard_action"
              groups="base.group_system"
              sequence="26"/>

    <menuitem id="om_access_import_menu"
              name="Import Access Profiles"
              parent="base.menu_users"
              action="om_access_import_action"
              groups="base.group_system"
              sequence="28"/>

    <menuitem id="om_access_test_user_menu"
              name="Effective Access"
              parent="base.menu_users"
              action="om_access_test_user_action"
              groups="base.group_system"
              sequence="27"/>

</odoo>
